body {
  margin: 0;
  font-family: 'Open Sans', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.Toastify__toast {
  border: 1px solid #ddd;
}
.Toastify__progress-bar {
  background: rgba(255, 124, 2, 0.74)!important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: #000000!important;
}

a:hover {
  text-decoration: none!important;
}
